@import url('https://fonts.googleapis.com/css2?family=NTR&family=Prata&family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=NTR&family=Prata&family=Source+Code+Pro&display=swap');


.sobreMim{
    margin-left: 80px;
    padding: 8px;
    display: flex;
    flex-direction: column;
}
.sobreMim h1{
    font-family: 'NTR', sans-serif;
    font-size: 60px;
    margin-top: 80px;
    color: #64ffda;
}
.secaoSobre{
    display: flex;

}

.sobreMim p, b{
    display: flex;
    align-items: center;
    width: 30%;
    text-align: justify;
    font-size: 20px;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    color: #e6f1ff;
   
}
.sobreMim ul{
    display: flex;
    flex-direction: column;
    color: #e6f1ff; 
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
  
}