@import url('https://fonts.googleapis.com/css2?family=NTR&family=Prata&family=Source+Code+Pro&display=swap');

.side{
    position: fixed;
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    
    padding: 8px;
    left: 80%;
    color: #64ffda;
    font-family: 'Source Code Pro', monospace;
    text-align:left;
    
}

.side-nav{
    font-weight: bold;
    
    padding: 8px;
    color: #64ffda;
    font-family: 'Source Code Pro', monospace;
    text-decoration: none;
    
}
.side-nav:hover{
    color: #8892b0;
}

.icones{
   
    display: flex;
    padding: 8px;
    
    align-items: center;
    
}
.icones a{
    color: #64ffda;
    cursor: pointer;
    padding: 4px;
    
}
.icones a:hover{
    color: #8892b0;
}
@media screen and (max-width:1000px){
    .side{
        padding: 0;
        margin: 0;
        display: none;
    }
}