.projeto-container{
    margin-top: 80px;
    margin-left: 80px;
    width:70%;
    
}
.container-descricao{
    margin-bottom: 30px;
    color: #e6f1ff; 
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
}
.titulo{
   
    font-size: 60px;
    font-family: 'NTR', sans-serif;
    color: #64ffda;
    font-weight: bolder;
    
    border-bottom:1px solid  #616777;

}
.projeto-grid{
    display: grid;
    grid-template-columns: repeat(3,minmax(250px, 1fr));
    grid-gap: 10px;
    color: white;
  
}
@media screen and (max-width:1000px){
    .projeto-grid{
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        justify-content: center;
    }
    .titulo{
        text-align: center;
    }
}