@import url('https://fonts.googleapis.com/css2?family=NTR&family=Prata&family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=NTR&family=Prata&family=Source+Code+Pro&display=swap');

button{
  
  color: #64ffda;
  background-color: #0a192f;
  font-family: 'NTR';
  font-size: 18px;
}
body{
    background-color: #0a192f;
    scroll-behavior: smooth;
    color: #8892b0;
}
.sobre{
    width: 100%;
    display: flex;
    
    flex-direction: row;
    align-items: center;
}
*::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }
  
*::-webkit-scrollbar-track {
    background: none;        /* color of the tracking area */
  }
  
*::-webkit-scrollbar-thumb {
    background-color: #64ffda;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 2px solid #64ffda;  /* creates padding around scroll thumb */
  }