body{
    background-color: #0a192f;
    scroll-behavior: smooth;
}
.sobre{
    width: 100%;
    display: flex;
    
    flex-direction: row;
    align-items: center;
}
*::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }
  
*::-webkit-scrollbar-track {
    background: none;        /* color of the tracking area */
  }
  
*::-webkit-scrollbar-thumb {
    background-color: #64ffda;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 2px solid #64ffda;  /* creates padding around scroll thumb */
  }